section.about-inner
    .about-inner-container
        h1 About us
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab vitae molestias expedita rem error recusandae quis, facere culpa suscipit inventore minus deserunt maiores sit, reiciendis quae accusantium quidem, commodi fugit.
        p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit magnam, totam soluta nam, architecto ex nulla, deserunt odit voluptatum hic possimus vel nihil voluptas minus laboriosam quidem vero amet dolorum!
