//Main menu goes here
//Special deal/ combo section hero
section.hero
   .hero-deal
        h2 Special Friday night deal
        p 
          |  <em>"This"</em><span class="icon">👏</span> is what makes life go "Round"! Get the limited 
          |  <span class="strawberry">Strawberry<span class="icon">🍓</span></span>
          |  <span class="rainbow">rainbow<span class="icon">🌈</span></span> 
          |  <span class="sprinkles">sprinkles</span> 
          |  d<span class="icon">🍩</span>nut.
        p Taste the finest donut today !
        button Me want !
   .hero-img
        .img-wraper
            img(src="../img/pink_donut.png", alt="hero pink donut", srcset="")

//Recommend section
section.recommend
    .recommend-title
      h3 Our recommendation for the day
      p Freshly made and <span style="text-decoration: underline;">ready just for you</span>
    ul.recommend-item-list
        li.recommend-item 
          a(href="") Item 1
                .img-wraper
                  img(src="../img/pink_donut.png", alt="pink donut", srcset="")
                p Pink donut
                button Pick me!
        li.recommend-item 
          a(href="") Item 2
                .img-wraper
                  img(src="../img/chocolate_donut.png", alt="chocolate donut", srcset="")
                p Chocolate donut
                button Pick me!
        li.recommend-item 
          a(href="") Item 3
                .img-wraper
                  img(src="../img/blue_donut.png", alt="blue donut", srcset="")
                p Blue donut
                button Pick me!
        li.recommend-item 
          a(href="") Item 4
                .img-wraper
                  img(src="../img/cup.png", alt="cup", srcset="")
                p Coffee
                button Pick me!
        li.recommend-item 
          a(href="") Item 5
                .img-wraper
                  img(src="../img/orange_donut.png", alt="orange donut", srcset="")
                p Orange donut
                button Pick me!
        li.recommend-item 
          a(href="") Item 6
                .img-wraper
                  img(src="../img/cup.png", alt="cup", srcset="")
                p Cup
                button Pick me!
    .recommend-menu
      h4  Or choose from our menu
      button Menu

//Location picker
section.location-picker
    //Title and description
    .location-picker-tidesc 
        p Order here or eat at your local Kaf'n'dunk
        Button Direction to nearest Kaf'n'dunk
    .location-picker-img
        .img-wraper
            img(src='../src/img/donut_shop.jpg', alt="Picture of a bicyle shop", srcset="")


//About us core values
section.about
    .about-img
        .img-wraper
            img(src='../src/img/donut_about.jpg', alt="Close up of a pink donut", srcset="")
    //Title and description
    .about-tidesc
        p 
            |  We put our customers needs priority on top of everything we do everyday,
            |  we are create magical donuts everyday especially for you. Click to learn
            |  more about our magic and what we can offers you.
        button Find out more