section.location
    h3 Come and join us at these location
    ul.location-list
        li.location-list-item
            .img-wraper
                //img
            h3 Address 123 at 345 Ave
            p Phone number 1234-5678-90
        li.location-list-item
            .img-wraper
                //img
            h3 Address 5789 at 345/21 Ave
            p Phone number 1234-1118-90
        li.location-list-item
            .img-wraper
                //img
            h3 Address 992 Mk Road
            p Phone number 2214-5118-70

