doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title 
            = htmlWebpackPlugin.options.title
    body
        header
            nav
                ul
                    //This can be a button, this home here
                    li 
                        a(href="#")
                            .img-wraper
                                img(src=require("./img/logo.png"), alt="Picture of Pink Donut", srcset="")
                    li 
                        a(href="#") Home 
                    li 
                        a(href="#") Menu
                    li
                        a(href="#") Location
                    li
                        a(href="#") Membership
                    li
                        a(href="#") About
        main
            //Main menu goes here
            //Special deal/ combo section hero
            h2 Special deal combo
            p Deal Description goes down here
            p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum aut fuga labore reprehenderit sint iure officiis placeat fugiat rerum nam quibusdam, tempore nostrum sit tenetur fugit atque, mollitia doloribus reiciendis.
            button Order deal

            //Recommend section
            p Item Slider Goes here

            //Location picker
            p Location picker detail goes here

            //About us core values
            p About us detail goes here
        footer
            //Logo and social medias
            h3 Leftside logo
            //right side navgation menu
            ul
                li 
                    a(href="#") Home 
                li 
                    a(href="#") Menu
                li
                    a(href="#") Location
                li
                    a(href="#") Membership
                li
                    a(href="#") About
                li 
                    a(href="#") Employment
                li 
                    a(href="#") Contact