.location{
    @extend %center-message;
    flex-direction: column;
    gap: 30px;
    font-size: 1.7rem;
    text-align: center;

    h3 {
        text-decoration: underline;
    }


    &-list {
        @include flex($direction: column);
        gap: 20px;
        border: 1px solid #000;
        border-radius: 10px;
        padding: 3em;

        li {
            border: 1px solid #000;
            padding: 10px;
            border-radius: 10px;
        }

        li h3::before {
            content: '🍴';
        }

        li p::before {
            content: '📞';
        }
    }
}