@import './starter/starter';
@import 'base';

//Body
body {
    background-color: $main-background-pink;
    font-size: $font-size;
}

//Header
header {
    * {
        margin: 0 auto;
    }
    font-family: 'Sacramento', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.3rem;
}

nav {
    @include content-wraper($max-width: 1440px);
    padding: 1em 0;
    border-radius: 0 0 20px 20px;
    background-color: $main-color-white;
}

nav ul {
    @include flex($justify:center, $align: center);
    gap: 20px;

    a {
        color: $secondary-color-black;
        position: relative;
    }

    //The underline effect
    a::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;

        width: 100%;
        border-bottom: 1px solid #000;
        transform: scaleX(0);
    }

    a:hover::after {
        transition: 200ms;
        transform: scale(100%);
        box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.5);
    }

    a:hover, a:hover::after {
        text-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
    }


}